services:
  tv:
    image: alpine:latest
    entrypoint: /bin/sh
    tty: true # https://github.com/evanw/esbuild/commit/4267bef78ff0177d77a66f7e2b36dd03f4bc8de1
    command:
      - -c
      - |
        apk add --no-cache curl pup

        onelinestream() {
          curl -Ls "https://onlinestream.live/?search=$$1" \
            | pup 'a[href^="/play.m3u8"] attr{href}' \
            | sed 's/amp;//g' \
            | xargs -I{} curl -Ls https://onlinestream.live{} \
            | grep https \
            | sort -r \
            | head -1
        }

        serve(){
          while true
          do 
            echo -e "HTTP/1.1 200 OK\n\n`onelinestream $$1`" | nc -l -p $$2
          done 
        }

        serve m1 801 &
        serve m4 802 &
        serve rtlkub 803 &

        while true; do sleep 300; done

  nginx:
    image: nginx:alpine
    ports:
      - '3000:80'
    entrypoint: /bin/sh
    command:
      - -c
      - |
        mkdir -p /_

        tee /_/index.html << EOF >/dev/null
        EOF

        tee /etc/nginx/nginx.conf << EOF > /dev/null
        user  nginx;
        worker_processes  auto;

        error_log  /var/log/nginx/error.log notice;
        pid        /var/run/nginx.pid;

        events {
            worker_connections  1024;
        }

        http {
            include       /etc/nginx/mime.types;
            default_type  application/octet-stream;

            log_format  main  '\$$remote_addr - \$$remote_user [\$$time_local] "\$$request" '
                              '\$$status \$$body_bytes_sent "\$$http_referer" '
                              '"\$$http_user_agent" "\$$http_x_forwarded_for"';

            access_log  /var/log/nginx/access.log  main;
            sendfile        on;
            keepalive_timeout  65;
            gzip  on;

            server {
              listen  80;

              location / {
                root   /_;
                index  index.html;
              }

              location /m1 {
                proxy_pass http://tv:801;
              }
              
              location /m4 {
                proxy_pass http://tv:802;
              }

              location /rtlklub {
                proxy_pass http://tv:803;
              }
            }
        }
        EOF

        nginx -T && nginx -g 'daemon off;'

